---
import BaseLayout from '@layouts/BaseLayout.astro';
import AuthorCard from '@components/author/AuthorCard.astro';
import { getCollection } from 'astro:content';
import BlogLayout from '@layouts/BlogLayout.astro';


const authors = await getCollection('author');

---


<BlogLayout title="Authors">
 
    <section class="grid grid-cols-1 md:grid-cols-2 gap-5 max-w-5xl my-16">
    {
        authors.map((author) => (
            <AuthorCard author={author} />
        ))
    }

    </section>
</BlogLayout>
