---
// import BlogPost from '@components/blog/BlogPost.astro'
import BaseLayout from '@layouts/BaseLayout.astro'

import { siteConfig } from '@config/site-config';
import { getCollection } from 'astro:content';
import TypeBlogPost from '@components/blog/TypeBlogPost.astro';

// const posts = await Astro.glob('./posts-old/*.{md,mdx}');

const blogPosts = await getCollection('blog');

---


<BaseLayout title="Home">
  <!-- component -->
<section class="bg-inherit">
  <div class="container px-6 py-10 mx-auto">
    
    <div class="flex justify-between">
      <h1 class="text-3xl font-semibold text-gray-800 capitalize lg:text-4xl dark:text-white">{ siteConfig.title }</h1>
      <a class="text-title  hover:underline" href="/blog/1">Ir al blog páginado</a>
    </div>

      <div class="grid grid-cols-1 gap-8 mt-8 md:mt-16 md:grid-cols-2">
        {
          blogPosts.map((post) => (
            // <BlogPost {...post} />
            <TypeBlogPost post={post} />
          ))
        }
      </div>
  </div>
</section>
</BaseLayout>