---
const { frontmatter, url } = Astro.props;

import  { Formatter } from '@utils/formatter';
---



<div class="flex flex-col ">
    <img class="object-cover w-full h-56 rounded-lg " src={frontmatter.image} alt={frontmatter.title} />

    <div class="flex flex-col justify-between py-6 ">
        <a href={url} class="text-xl font-semibold text-gray-800 hover:underline dark:text-white ">
            {frontmatter.title}
        </a>
        
        <span class="text-sm text-gray-500 dark:text-gray-300">{ Formatter.formatDate(frontmatter.date)  }</span>
    </div>
</div>